<div class="main account">
	<div class="content">

		<div class="user-details">
			{{#if admin.name}}
			<h3>{{admin.name}}</h3>
			{{/if}}
			<p>{{admin.email}}</p>
			<p>Member since: {{formatDate admin.created}}</p>
		</div>

		<ul class="menu">
			<li><a href="{{site.url}}/admin/config">Configuration</a></li>
			{{#eq admin.role 'master'}}
			<li><a href="{{site.url}}/admin/manage">Manage Admins</a></li>
			<li><a href="{{site.url}}/admin/register">Register Admin</a></li>
			{{/eq}}
		</ul>

		<p><a href="/admin/delete/{{admin.id}}" class="btn btn-caution delete">Delete Account</a></p>
	</div>
</div>
